<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <title>GeoIniciativas en Español</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="assets/js/moment.min.js"></script>
    <script src="assets/js/moment-with-locales.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <link rel="alternate" type="application/rss+xml" title="Agregador de GeoBlogs" href="http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <style>
        body{
            font-size: .85rem;
        }
        #intro {
            margin-top: 1rem;
        }
        #article-list{
            padding: 0;
        }
        #article-list li{
            list-style: none;
            margin-bottom: 2rem;
        }
        .rss-icon{
            width: 30px;
            vertical-align: middle;
            padding-bottom: 7px;
        }
        .nav-item{
            padding: 0 1rem;
        }
        .navbar-brand a{
            color: white;
        }
        .footer {
            width: 100%;
            background-color: #f5f5f5;
            padding: 1rem;
        }
        h2{
            font-size: 1.3rem;
        }
    }
</style>
</head>

<body>
    <a class="github-fork-ribbon" href="https://github.com/Geo-Developers/geoiniciativas" data-ribbon="Fork me on Github" title="Fork me on GitHub">Fork me on GitHub</a>

    <div id="app" class="container">
        <div class="row">
            <div class="col-sm">
                <div id="intro">

                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="d-flex flex-grow-1">
                            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                            <span class="navbar-brand d-none d-lg-inline-block">
                                <router-link to="/">GeoIniciativas</router-link>
                            </span>
                            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                                <img src="//placehold.it/40?text=LOGO" alt="logo">
                            </a>
                            <div class="w-100 text-right">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                            <ul class="navbar-nav ml-auto flex-nowrap">
                                <li class="nav-item">
                                    <router-link to="/" class="nav-link">Inicio</router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link to="/noticias" class="nav-link">Noticias</router-link>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/Geo-Developers/geoiniciativas/blob/main/contribute.md" class="nav-link">Contribuir</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>

                <router-view></router-view>

            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted small">
                Página desarrollada con ❤️ y licenciada bajo <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            </span>
        </div>
    </footer>

    <script type="text/x-template" id="home">
        <div class="mt-3">
            <p>
                Listado colaborativo de enlaces a: <a href="#comunidades">comunidades</a>, <!--<a href="#Eventos">eventos</a>,--> <a href="#blogs">blogs</a> y <a href="#otras-webs">otras webs</a>, para personas interesadas en cualquier tema relacionado con la geografía, tecnologías geoespaciales, ciencias de la tierra, etc. (<a href="https://docs.google.com/spreadsheets/d/1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ/edit#gid=0">fuente original</a>)
            </p>

            <h2 id="comunidades">Comunidades</h2>
            <div class="geoiniciativas-widget" data-sheetid="1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ" data-tab="comunidades"></div>

            <!-- <h2>Eventos</h2>
            <div class="geoiniciativas-widget" data-sheetid="1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ" data-tab="eventos"></div> -->

            <h2 id="otras-webs">Otras Webs</h2>
            <div class="geoiniciativas-widget" data-sheetid="1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ" data-tab="otras-webs"></div>

            <!-- <h2>Datos</h2>
            <div class="geoiniciativas-widget" data-sheetid="1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ" data-tab="datos"></div> -->

            <h2 id="blogs">Blogs</h2>
            <div class="geoiniciativas-widget" data-sheetid="1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ" data-tab="blogs"></div>

            <!-- <div v-html="text"></div> -->
        </div>
    </script>


    <script type="text/x-template" id="article-list">
        <div class="mt-3">
            <h2 class="text-center">Últimas noticias</h2>
            <p class="text-center">
                Agregador de noticias de blogs sobre GIS/Geo en Español
                <a href="http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Rss_Shiny_Icon.svg" class="rss-icon">
                </a>
                <br>

                <span class="small">
                    <a href="https://docs.google.com/spreadsheets/d/1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ/edit#gid=75088066">Listado de fuentes</a>
                    | Descargar: <a id="btnDownload" onclick="downloadTab('1bF4YYH7bXPSLI___zMfh3tDfSxDlWWZLkkuT5vD4zHQ', 3)" href="#">CSV</a> /
                    <a href="https://github.com/Geo-Developers/geoiniciativas/blob/main/geoblogs.opml">OPML</a>
                </span>
            </p>

            <ol id="article-list" v-if="posts">
                <li v-for="post in posts">
                    <div v-if="post.title" class="card">
                        <div class="card-body">
                            <h2><a v-bind:href="post.link">{{ post.title }}</a></h2>
                            <p class="small">
                                <strong>Publicado:</strong> {{ moment(post.pubDate, 'YYYY-MM-DD h:mm:ss', 'es').fromNow() }} ({{ moment(post.pubDate, 'YYYY-MM-DD h:mm:ss', 'es').calendar() }}) |
                                <strong>Fuente:</strong> <a v-bind:href="getHostnameFromRegex(post.link,0)">{{ getHostnameFromRegex(post.link) }}</a>
                            </p>
                            <div v-html="post.content"></div>
                            <div style="text-align: right">
                                <a v-bind:href="post.link" class="btn btn-primary">Leer más</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <div v-else class="text-center">
                <p>Lo sentimos, no se han podido cargar <a href="http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32">las noticias desde el servidor</a>, por favor intentételo más tarde.</p>
                <iframe src="https://giphy.com/embed/qA9BnxUPmgWgU" width="480" height="235" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/puss-prewedding-summerbird-qA9BnxUPmgWgU">via GIPHY</a></p>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="widget-page">
        <div id="widget-page-script">
            <h1>Widget de geoiniciativas</h1>

            <p>Para embeber el listado de geoiniciativas en tu sitio sólo necesitarás usar un script como este:</p>
            <iframe src="/embed-widget.html" style="width:100%;border:0;height:800px"></iframe>
        </div>
    </script>

    <script>
        function fetchMarkdown(){
            const markdownUrl = 'https://geo-developers.github.io/geoiniciativas/README.md';
            return fetch(markdownUrl).then(response => response.text())
        }

        function fetchNews(){
            const feedURL = 'http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32',
            apikey = 'qreyxurezorzaujv0y5zsddrjmeukjmjywgdfygg',
            feed2json = `https://api.rss2json.com/v1/api.json?rss_url=${encodeURIComponent(feedURL)}&api_key=${apikey}&count=50`;

            return fetch(feed2json).then((response) => {
                if (response.ok){
                    return response.json();
                }else{
                    return {items: null}
                }
            });

        }

        function initPage(){
            return Promise.all([fetchMarkdown(), fetchNews()]);
        }

        initPage().then(([markdown, news]) => {

            moment.locale('es');
            const Home = Vue.component('home',{
                template: '#home',
                data (){
                    return {
                        text: marked(markdown)
                    }
                },
                mounted() {
                    renderGeoIniciativasWidget();
                }
            });

            const ArticleList = Vue.component('article-list',{
                template: '#article-list',
                data (){
                    return {
                        posts: news.items
                    }
                }
            });

            const WidgetPage = Vue.component('widget-page',{
                template: '#widget-page',
                mounted() {
                    let externalScript = document.createElement('script')
                    externalScript.setAttribute('src', 'https://gist.github.com/hhkaos/3ce84f98d5d991d54a8c58dc0ef3b026.js')
                    document.getElementById("widget-page-script").appendChild(externalScript)
                }

            });

            const routes = [
            { path: '/widget', component: WidgetPage },
            { path: '/noticias', component: ArticleList },
            { path: '/', component: Home }
            ];
            const router = new VueRouter({
                routes,
                // mode: 'history',
                // scrollBehavior: function(to, from, savedPosition) {
                //     if (to.hash) {
                //         return {selector: to.hash}
                //     } else {
                //         return { x: 0, y: 0 }
                //     }
                // },
            })

            var app = new Vue({
                el: '#app',
                router
            });
        });

        const getHostnameFromRegex = (url, param = 1) => {
            const matches = url.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i);
            return matches && matches[param];
        };

    </script>
    <script src="assets/js/utils.js"></script>
    <script src="assets/js/geoiniciativas-widget.js"></script>
    <link rel="stylesheet" href="assets/css/geoiniciativas-widget.css" />
</body>
</html>
