<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>Agregador de GeoBlogs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="alternate" type="application/rss+xml" title="Agregador de GeoBlogs" href="http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

    <style>
        #intro {
            margin-top: 1rem;
            text-align: center;
        }
        #article-list{
            padding: 0;
        }
        #article-list li{
            list-style: none;
            margin-bottom: 2rem;
        }
        h1 img{
            width: 30px;
            vertical-align: middle;
            padding-bottom: 7px;
        }
    </style>
</head>
<body>
    <a class="github-fork-ribbon" href="https://url.to-your.repo" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

    <div id="app" class="container">
        <div class="row">
            <div class="col-sm">
            <div id="intro">
                <h1>
                    GeoBlogs
                    <a href="http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Rss_Shiny_Icon.svg">
                    </a>
                </h1>
                <p>
                    Agregador de noticias de blogs sobre GIS/Geo en Español <br>
                    <span class="small"><a href="https://github.com/Geo-Developers/geoiniciativas/blob/main/geoblogs.opml">Listado de fuentes OPML</a> (<a href="https://es.wikipedia.org/wiki/OPML">¿Qué es esto?</a>) | <a href="https://github.com/Geo-Developers/geoiniciativas/blob/main/contribute.md">Contribuir</a></span>
                </p>
            </div>
            <article-list></article-list>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="article-list">
        <ol id="article-list">
            <li v-for="post in posts">
                <div v-if="post.title" class="card">
                    <div class="card-body">
                        <h2><a v-bind:href="post.link">{{ post.title }}></a></h2>
                        <p>Publicado: {{ post.pubDate }} | Fuente: <a v-bind:href="getHostnameFromRegex(post.link,0)">{{ getHostnameFromRegex(post.link) }}</a></p>
                        <div v-html="post.content"></div>
                        <div style="text-align: right">
                            <a v-bind:href="post.link" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </script>

    <script>
        const feedURL = 'http://www.feedrinse.com/services/channel/?chanurl=598b30eef2bd60fa1feeb65dafe67a32',
              apikey = 'qreyxurezorzaujv0y5zsddrjmeukjmjywgdfygg',
              feed2json = `https://api.rss2json.com/v1/api.json?rss_url=${encodeURIComponent(feedURL)}&api_key=${apikey}&count=50`;

        const getHostnameFromRegex = (url, param = 1) => {
            const matches = url.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i);
            return matches && matches[param];
        }

        fetch(feed2json)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                Vue.component('article-list',{
                    template: '#article-list',
                    data (){
                        return {
                            posts: data.items
                        }
                    }
                });

                var app = new Vue({
                    el: '#app'
                });
            });
    </script>
</body>
</html>

