table.giw {
    max-width: 100%;
    margin: 10px auto;
    word-break: break-word;
}

table.giw caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
}

table.giw thead th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;

}


table.giw tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

table.giw tr:nth-child(even) {
    background: #e8eeef;
}

table.giw th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
    min-width: 100px;
    font-size: 0.8em;
}

table.giw tfoot tr {
    background: none;
}

table.giw tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;

}

.geoiniciativas-links {
    text-align:center;
    font-size: .8rem;
}
.geoiniciativas-links a {
    color:#007bff;
    font-size: .7rem;
    text-decoration: underline;
    cursor: pointer;
}
